*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

html {
  background-color: #0c122c; }

body {
  color: #ffffff;
  font-family: "Raleway", "sans-serif";
  margin: 0;
  padding: 0; }

.container {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("images/bg-mobile.svg");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 100% 52.5vh;
  height: 100vh; }
  @media screen and (min-width: 575px) {
    .container {
      background-image: url("images/bg-desktop.svg");
      background-position: 0% 115%;
      background-size: 100% 55vh;
      justify-content: center; } }
  @media screen and (min-width: 1024px) {
    .container {
      flex-direction: row; } }

.fylo {
  width: 100%;
  max-width: calc(350px - 40px);
  height: 200px;
  background-color: #1d2c67;
  border-radius: 10px 90px 10px 10px;
  padding-top: 40px;
  padding-left: 40px;
  padding-bottom: 40px;
  margin-top: 127px;
  margin-left: 25px;
  margin-right: 25px; }
  @media screen and (min-width: 575px) {
    .fylo {
      margin-top: 0px;
      margin-left: 0px;
      margin-right: 0px;
      margin-bottom: 90px; } }
  @media screen and (min-width: 1024px) {
    .fylo {
      margin-left: 0%;
      margin-right: 30px; } }
  .fylo__icon {
    background-image: url("./images/logo.svg");
    background-repeat: no-repeat;
    width: 135px;
    height: 40px; }
  .fylo__fileicon {
    display: flex;
    padding-top: 33px; }
    .fylo__fileicon > * {
      width: 48px;
      height: 48px;
      border-radius: 9px;
      background-color: #0c122c;
      margin-right: 1rem; }
  .fylo__newfile {
    background-image: url("./images/icon-document.svg");
    background-repeat: no-repeat;
    background-position: center; }
  .fylo__openfile {
    background-image: url("./images/icon-folder.svg");
    background-repeat: no-repeat;
    background-position: center; }
  .fylo__uploadfile {
    background-image: url("./images/icon-upload.svg");
    background-repeat: no-repeat;
    background-position: center; }

.data {
  position: relative;
  background-color: #1d2c67;
  border-radius: 9px;
  width: 90%;
  max-width: calc(540px - 38px);
  height: calc(154px - 42px);
  padding-top: 42px;
  padding-left: 0px;
  padding-bottom: 60px;
  margin-left: 25px;
  margin-right: 25px;
  margin-top: 16px;
  text-align: center; }
  @media screen and (min-width: 575px) {
    .data {
      width: 100%;
      margin: 0;
      text-align: left;
      padding-left: 38px; } }
  .data__dataused {
    font-weight: 400; }
    .data__dataused > span {
      font-weight: 700; }
  .data__progressbar {
    border-radius: 0.625rem;
    width: 80%;
    height: 1.25rem;
    background-color: #0c122c;
    display: flex;
    align-items: center;
    margin: 0 auto;
    position: relative; }
    @media screen and (min-width: 575px) {
      .data__progressbar {
        width: 90%;
        margin-left: 0;
        margin-right: 40px; } }
    .data__progressbar > span.value {
      width: 81.5%;
      height: 14px;
      border-radius: 10px;
      background-image: linear-gradient(to right, #ffa399, #ff4d97);
      margin-left: 3px; }
    .data__progressbar > span.left {
      position: absolute;
      top: 125%;
      font-size: 8pt;
      font-weight: 400;
      color: #dddbff; }
    .data__progressbar > span.right {
      position: absolute;
      top: 125%;
      right: 0%;
      font-size: 8pt;
      font-weight: 400;
      color: #dddbff; }
    .data__progressbar::after {
      content: '';
      width: 10px;
      height: 10px;
      background-color: white;
      border-radius: 50%;
      transform: translateX(-125%); }
  .data__dataleft {
    width: 179px;
    height: 72px;
    background-color: white;
    color: #848794;
    text-align: center;
    border-radius: 10px;
    font-weight: 400;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateY(50%);
    margin: 0 auto;
    position: relative; }
    @media screen and (min-width: 575px) {
      .data__dataleft {
        position: absolute;
        transform: none;
        top: -50%;
        right: 3%;
        border-bottom-right-radius: 0px; } }
    .data__dataleft > span {
      font-size: 32px;
      font-weight: 700;
      color: #0c122c; }
    .data__dataleft::after {
      content: '';
      width: 0;
      height: 0;
      border-left: 22px solid transparent;
      border-right: 22px solid white;
      border-bottom: 22px solid transparent;
      position: absolute;
      top: 70px;
      right: 0px; }
      @media screen and (max-width: 575px) {
        .data__dataleft::after {
          display: none; } }
